__pycache__/
*.py[cod]
*$py.class
*.so
.Python

venv/
env/
ENV/
.venv

.idea/

.ipynb_checkpoints/

*.h5
*.keras
checkpoint
*.ckpt.*
*.ckpt

*.pth
*.pt

*.onnx

*.log

*.csv
datasets/
data/

*.zip
*.tar.gz